.idea
*.egg-info
__pycache__
.coverage
.tox
doc/mtress.wmf
dist/
build/
.vscode/
venv/

.ipynb_checkpoints/

# Individual obsolete files
mtress/_meta_model_bak.py
example/meta_model_config.yaml
*.ipynb
