.idea
*.egg-info
__pycache__
.coverage
.tox
doc/mtress.wmf
dist/
build/
.vscode/
.venv/
venv/
.venv/

.ipynb_checkpoints/
*.ipynb

# Individual obsolete files
mtress/_meta_model_bak.py
example/meta_model_config.yaml

# results of examples
examples/*/*.lp
examples/*/*.png
examples/*/*.gv

